*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 52px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  background: linear-gradient(220.94deg, #a950c4 14.43%, #82269E 85.28%);
  background-clip: text;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Sora", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    line-height: 140%;
  }
}

p {
  color: #666566;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  color: #353436;
  font-weight: bold;
}

strong {
  color: #161617;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #232224;
  text-decoration: none;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.9;
}

.btn {
  background: linear-gradient(220.94deg, #a950c4 14.43%, #82269E 85.28%);
  border-radius: 16px;
  box-shadow: 0px 43px 60px rgba(169, 80, 196, 0.14), 0px 12.9632px 18.0882px rgba(169, 80, 196, 0.0912224), 0px 5.38427px 7.51293px rgba(169, 80, 196, 0.07), 0px 1.94738px 2.71728px rgba(169, 80, 196, 0.0487776);
  color: #fefbff;
  padding: 12px 32px;
  transition: 0.3s ease;
}
.btn:hover {
  transform: scale(1.52);
  box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.27), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135), 0px 0.769896px 1.40393px rgba(169, 80, 196, 0.094071);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #edeaef;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

header {
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  transition: 0.5s ease;
  width: 100%;
  z-index: 999;
}

.active-header {
  background-color: #f7f2fa;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

.navbar-desktop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 10px 24px;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.navbar-desktop-item-1 {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.navbar-desktop-item-2 {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.logo {
  align-items: center;
  background-color: red;
  height: 41px;
  justify-content: center;
  width: 41px;
  z-index: 999;
}

.menu-desktop,
.dropdown-menu {
  list-style: none;
}

.menu-desktop {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 960px) {
  .menu-desktop {
    display: none;
  }
}
.menu-desktop .menu-item {
  margin-left: 16px;
  position: relative;
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.nav-link-desktop::after {
  border-radius: 1px;
  border-bottom: 2px solid #82269E;
  border-right: 2px solid #82269E;
  content: "";
  height: 7px;
  position: absolute;
  right: -3px;
  top: 42%;
  transform: rotate(45deg);
  transition: 0.12s linear;
  width: 7px;
}
.nav-link-desktop:hover::after {
  top: 45%;
}

.dropdown-menu {
  align-items: center;
  background-color: #fefbff;
  border-radius: 16px;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 24px;
  position: absolute;
  padding: 16px 24px;
  top: 48px;
  transition: 0.7s ease;
  opacity: 0;
  pointer-events: none;
}
.dropdown-menu .dropdown-item {
  width: 100%;
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  padding: 8px 16px;
  position: relative;
  width: 100%;
}
.nav-link-dropdown::after {
  background-color: #a950c4;
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  top: 90%;
  transition: 0.5s ease;
  width: 0%;
}
.nav-link-dropdown:hover::after {
  width: 100%;
}

.navbar-mobile {
  display: none;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.bx {
  cursor: pointer;
  height: 36px;
  position: relative;
  width: 36px;
  z-index: 999;
}
.bx::after {
  background-color: #82269E;
  content: "";
  height: 2px;
  left: 16%;
  position: absolute;
  top: 36%;
  transition: 0.7s ease;
  width: 70%;
}
.bx::before {
  background-color: #82269E;
  content: "";
  height: 2px;
  left: 16%;
  position: absolute;
  top: 64%;
  transition: 0.7s ease;
  width: 70%;
}

.active-bx {
  cursor: pointer;
  height: 36px;
  position: relative;
  transition: 0.7s ease;
  width: 36px;
  z-index: 999;
}
.active-bx::after {
  background-color: #82269E;
  content: "";
  height: 2px;
  left: 16%;
  position: absolute;
  top: 50%;
  transform: rotate(-495deg);
  width: 70%;
}
.active-bx::before {
  background-color: #82269E;
  content: "";
  height: 2px;
  left: 16%;
  position: absolute;
  top: 50%;
  transform: rotate(315deg);
  width: 70%;
}

.menu-mobile {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, -100px, 0);
  transition: 1s ease;
  width: 100vw;
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 1440px;
}

.nav-link-mobile {
  display: inline-block;
  color: #555456;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
  padding: 16px 24px;
  position: relative;
}
.nav-link-mobile::after {
  background-color: #a950c4;
  content: "";
  left: 16px;
  position: absolute;
  top: 90%;
  transition: 0.5s ease;
  width: 0;
  height: 2px;
}
.nav-link-mobile:hover::after {
  width: 90%;
}/*# sourceMappingURL=style.css.map */