// Layout of project

// Container devices

$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Mixins of media query

@mixin responsive($device) {
  @if $device ==xl {

    // For resolutions upper than 1440px
    @media screen and (min-width: $container-xl) {
      // Esse content serve pra nao ter que definir as regras aqui dentro e sim na declaração em outros arquivos, como o corpo da função chamada
      @content;
    }
  }

  @else if $device ==l {

    // For resolutions between 1140 and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  }

  @else if $device ==m {

    // For resolutions between 1140 and 960px
    @media screen and (max-width: $container-l) and (min-width: $container-m) {
      @content;
    }
  }

  @else if $device ==s {

    // For resolution less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  }

  @else if $device ==xs {

    // For resolution less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: $container-xl;
  margin: 0 auto;
  overflow: hidden;
  padding: 96px 24px;

  @include responsive(s) {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-top {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.flex-spacebetween {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

// HERO
.hero {
  height: 90vh;

  @include responsive(s) {
    height: auto;
  }
}

.bg-home {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.svg-bg-home {
  width: 150%;

  @include responsive(xl) {
    width: 100%;
  }
}

.list-item {
  list-style: none;
  margin-bottom: 48px;
  position: relative;
  padding: 8px 8px 8px 72px;

  &::after {
    content: '';
    display: block;
    height: 64px;
    left: -8px;
    position: absolute;
    top: 0;
    width: 64px;
  }
}

// SECTION BEST

.best {
  align-items: center;
  border-radius: 50px;
  background-color: $white-normal;
  display: flex;
  justify-content: center;
  position: relative;

  @include responsive(s) {
    flex-direction: column;
  }

  &::after {
    background-image: url(../../svg/entail.svg);
    background-repeat: no-repeat;
    content: '';
    height: 124px;
    left: 50%;
    top: 0;
    position: absolute;
    transform: translate(-50%, 0);
    width: 124px;
  }
}

.best-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 8px 0;
  padding: 15px;

  @include responsive(s) {
    align-items: center;
    justify-content: center;
  }
}

.fignu4-logo {
  width: 60%;
  @include responsive(s) {
    width: 100%;
  }
}

.bg-invite {
    overflow: hidden;
    height: 100vh;

    @include responsive(s) {
      height: 60vh;
    }
}

.svg-invite {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;

  @include responsive(m) {
    transform: translate(-50%, -50%) scale(1.5);
  }

  @include responsive(s) {
    transform: translate(-50%, -50%) scale(2);
  }
}

.list {
  list-style: none;

  li {
    margin-bottom: 12px;
  }

  a {
    color: $secondary-light;
  }
}

.link-itens {
  @include responsive(s) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: start;
  }
}

.list-item {
  margin: 32px 0;

  @include responsive(xs) {
    margin: 16px 0;
  }
}

.footer-list {
  margin-left: 16px;

  @include responsive(s) {
    margin-left: 0;
  }
}

footer {
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
}

.bt-purple {
  border-top: 1px solid $secondary-light;
}