header {
  background-color: transparent;
  box-shadow: none;
  height: 72px;
  position: fixed;
  transition: .5s ease;
  width: 100%;
  z-index: 999;
}

.active-header {
  background-color: $white-normal;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

// DESKTOP

.navbar-desktop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $container-xl;
  padding: 10px 24px;


  @include responsive(s) {
    display: none;
  }
}

.navbar-desktop-item-1 {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.navbar-desktop-item-2 {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.logo {
  align-items: center;
  height: 48px;
  display: flex;
  justify-content: center;
  width: 48px;
  z-index: 999;
}

.menu-desktop,
.dropdown-menu {
  list-style: none;
}

.menu-desktop {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  @include responsive(s) {
    display: none;
  }

  .menu-item {
    margin-left: 16px;
    position: relative;
  }
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;

  &::after {
    border-radius: 1px;
    border-bottom: 2px solid $primary-normal;
    border-right: 2px solid $primary-normal;
    content: '';
    height: 7px;
    position: absolute;
    right: -3px;
    top: 42%;
    transform: rotate(45deg);
    transition: .12s linear;
    width: 7px;
  }

  &:hover {
    &::after {
      top: 45%;
    }
  }
}

.dropdown-menu {
  align-items: center;
  background-color: $white-light;
  border-radius: 16px;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 24px;
  position: absolute;
  padding: 16px 24px;
  top: 48px;
  transition: .7s ease;

  opacity: 0;
  pointer-events: none;

  .dropdown-item {
    width: 100%;
  }
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  padding: 8px 16px;
  position: relative;
  width: 100%;

  &::after {
    background-color: $secondary-normal;
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    top: 90%;
    transition: .5s ease;
    width: 0%;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

// MOBILE

.navbar-mobile {
  display: none;
  max-width: $container-xl;
  margin: 0 auto;
  padding: 10px 24px;

  @include responsive(s) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.bx {
  cursor: pointer;
  height: 36px;
  position: relative;
  width: 36px;
  z-index: 999;

  &::after {
    background-color: $primary-normal;
    content: '';
    height: 2px;
    left: 16%;
    position: absolute;
    top: 36%;
    transition: .7s ease;
    width: 70%;
  }

  &::before {
    background-color: $primary-normal;
    content: '';
    height: 2px;
    left: 16%;
    position: absolute;
    top: 64%;
    transition: .7s ease;
    width: 70%;
  }
}

.active-bx {
  cursor: pointer;
  height: 36px;
  position: relative;
  transition: .7s ease;
  width: 36px;
  z-index: 999;

  &::after {
    background-color: $primary-normal;
    content: '';
    height: 2px;
    left: 16%;
    position: absolute;
    top: 50%;
    transform: rotate(-495deg);
    width: 70%;
  }

  &::before {
    background-color: $primary-normal;
    content: '';
    height: 2px;
    left: 16%;
    position: absolute;
    top: 50%;
    transform: rotate(315deg);
    width: 70%;
  }
}

.menu-mobile {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, -100px, 0);
  transition: 1s ease;
  width: 100vw;
}

.active-menu-mobile {
  background-color: $white-normal;
  opacity: 1;
  pointer-events: all;
  height: 104vh;
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: $container-xl;

  svg {
    height: 36px;
    width: 36px;
    
    path {
      stroke: $gray-7;
      transition: .5s ease;
    }

    &:hover {
      path {
        stroke: $primary-normal;
      }
    }
  }
}

.nav-link-mobile {
  display: inline-block;
  color: $gray-2;
  @include typeface-1(h3, desktop);
  padding: 16px 24px;
  position: relative;

  &::after {
    background-color: $secondary-normal;
    content: '';
    left: 16px;
    position: absolute;
    top: 90%;
    transition: .5s ease;
    width: 0;
    height: 2px;
  }

  &:hover {
    &::after {
      width: 90%;
    }
  }
}
